<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:security="http://www.springframework.org/schema/security"


	xsi:schemaLocation="  http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd        
                http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Start Spring Security -->

	<!-- proxy target class needs to be false to switch of cglib proxies, as they cannot be used
	with request scoped ConnectionRepository.  Unfortunately proxy-target-class=true is needed for secured annotations to be honoured -->
	<security:global-method-security proxy-target-class="false" >
	</security:global-method-security>


	<security:authentication-manager alias="authenticationManager">
	</security:authentication-manager>


	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased"
		xmlns="http://www.springframework.org/schema/beans">
		<constructor-arg>
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter" />
				<bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
			</list>
		</constructor-arg>
	</bean>
	
		<bean id="customSpringSocialSecurityEntryPoint"
  class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
 <property name="loginFormUrl" value="/login"/>
</bean>

	<security:http use-expressions="true"
		entry-point-ref="customSpringSocialSecurityEntryPoint" xmlns="http://www.springframework.org/schema/security">
		<intercept-url pattern="/tweets" access="hasRole('ROLE_USER') and hasRole('ROLE_USER_TWITTER')" />
		<intercept-url pattern="/exfmLovedSongs" access="hasRole('ROLE_USER') and hasRole('ROLE_USER_EXFM')" />
		<intercept-url pattern="/cloudPlaylists" access="hasRole('ROLE_USER') and hasRole('ROLE_USER_CLOUDPLAYLISTS')" />
		<intercept-url pattern="/soundCloudFavorites" access="hasRole('ROLE_USER') and hasRole('ROLE_USER_SOUNDCLOUD')" />
		<intercept-url pattern="/lastFmLovedTracks" access="hasRole('ROLE_USER') and hasRole('ROLE_USER_LASTFM')" />
		<intercept-url pattern="/accessTokens" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/profileUrls" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/connectWithProvider" access="hasRole('ROLE_USER')" />
		<security:logout logout-url="/logout" />
		<access-denied-handler ref="springSocialSecurityAccessDeniedHandler"/>
		
		<anonymous />
		<security:custom-filter position="FORM_LOGIN_FILTER"
			ref="springSocialSecurityAuthenticationFilter" />

		<remember-me services-ref="springSocialSecurityRememberMeServices"
			key="springSocialSecurity" />

	</security:http>


	<bean id="springSocialSecurityRememberMeServices"
		class="org.springframework.security.web.authentication.rememberme.PersistentTokenBasedRememberMeServices">
		<property name="userDetailsService" ref="springSocialSecurityUserDetailsService" />
		<property name="tokenRepository" ref="tokenRepository" />
		<property name="key" value="springSocialSecurity" />
		<property name="alwaysRemember" value="true" />
		<property name="tokenValiditySeconds" value="3600" />
	</bean>

	<bean id="tokenRepository"
		class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
		<property name="createTableOnStartup" value="true" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- End Spring Security -->


</beans>
